.book-form {
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1; */
    transform: translateY(-50%) translateX(-50%);
    /* max-width: 95vw; */
    /* position: "fixed"; */
    /* top: "50%"; */
    /* left: "50%"; */
    /* z-Index: 1; */
    /* font-size: calc(10px + 1.5vw); */
}

/* .form-header {
    height: 2rem;
} */

.book-stat {
    max-width: 65vw;
    min-width: 25rem;
    max-height: 80vh;
    overflow-y: auto;
    overflow: auto;
    scrollbar-color: var(--color-dark--2) rgba(36, 42, 46, 0.8);
    scrollbar-width: thin;
}

.coverImage {
    max-width: calc(30vw);
}

.neon-text {
    -webkit-text-shadow: 3px 3px 2px rgba(195, 195, 5, 0.94);
    -moz-text-shadow: 3px 3px 2px rgba(195, 195, 5, 0.94);
    text-shadow: 3px 3px 2px rgba(195, 195, 5, 0.94);
    /* margin-top: -1rem; */
}

.hover-image-scale {
    display: inline-block;
    overflow: hidden;
}

.hover-image-scale img {
    transition: 1s;
    display: block;
}

.hover-image-scale img:hover {
    transform: scale(1.05);

}

.hover-zoom {
    scale: 1;
    transition: ease-in-out 0.3s;
}

.hover-zoom:hover {
    scale: 1.4;
    transition: ease-in-out 0.3s;
}