.bookTitles {
    max-height: calc(100dvh - 8rem);
    margin: 0rem 0rem;
    background-image: linear-gradient(rgba(36, 42, 46, 0.8),
            rgba(36, 42, 46, 0.8));
    background-size: cover;
    background-position: center;
    padding: 0;

    overflow: auto;
    scrollbar-color: var(--color-dark--2) rgba(36, 42, 46, 0.8);
    scrollbar-width: thin;
}