:root {
    --color-brand--1: #ffb545;
    --color-brand--2: #00c46a;
    --color-dark--0: #242a2e;
    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-light--1: #aaa;
    --color-light--2: #ececec;
    --color-light--3: #d6dee0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    color: var(--color-light--2);
    font-weight: 400;
    line-height: 1.6;
}

label {
    font-size: 1.6rem;
    font-weight: 600;
}

input,
textarea {
    width: 100%;
    padding: 0.8rem 1.2rem;
    font-family: inherit;
    font-size: 1.6rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-light--3);
    transition: all 0.2s;
}

input:focus {
    outline: none;
    background-color: #fff;
}

.cta:link,
.cta:visited {
    display: inline-block;
    background-color: var(--color-brand--2);
    color: var(--color-dark--1);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 3rem;
    border-radius: 5px;
}

.homepage {
    height: calc(100dvh - 2rem);
    background-image: linear-gradient(rgba(36, 42, 46, 0.8),
            rgba(36, 42, 46, 0.8));
    background-size: cover;
    background-position: center;
    padding: 1rem 1rem;
    /* font-size:; */
}


.homepage section {
    display: flex;
    flex-direction: column;
    height: 85%;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
}

thead {
    position: sticky;
    top: 0;
    background-color: black;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    color: orange;
}

td {
    padding: 0rem 0.3rem 0rem 0.3rem;
    border-style: groove;
    border-width: 5px;
}

tr {
    border-width: 5px;
    cursor: pointer;
}

.alias {
    cursor: alias;
}

.alias:hover {
    -webkit-text-shadow: 1px 1px 1px rgba(195, 195, 255, 0.94);
    -moz-text-shadow: 1px 1px 1px rgba(195, 195, 255, 0.94);
    text-shadow: 1px 1px 1px rgba(195, 195, 255, 0.94);
}

.coverImage {
    max-height: calc(100dvh / 2);
}

.annotation {
    text-align: justify;
    text-indent: 2rem;
    line-height: 0.94;
    padding-top: 1rem;
}