.bookSeries {
    max-height: calc(100dvh - 8rem);
    margin: 0rem 0rem;
    background-image: linear-gradient(rgba(36, 42, 46, 0.8),
            rgba(36, 42, 46, 0.8));
    background-size: cover;
    background-position: center;
    padding: 0;
    min-width: 12rem;
    overflow: auto;
    scrollbar-color: var(--color-dark--2) rgba(36, 42, 46, 0.8);
    scrollbar-width: thin;
}

@media (max-width: 768px) {
    .bookSeries {
        max-height: calc(100dvh - 8rem);
        min-height: calc(50dvh - 8rem);
        margin-bottom: 0.5rem;
    }

    .bookSeries2 {
        max-height: calc(50dvh);
    }
}