.bookNavigation {
    position: fixed;
    top: 1.9rem;
    left: 1px;
    margin-inline: auto;
    width: fit-content;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--color-light--1) rgba(36, 42, 46, 0.8);
    scrollbar-width: thin;
    /* max-height: 100%; */
    max-height: calc(100% - 1.9rem - 1px);
    max-width: 80%;
    padding: 0.5rem;
    background-color: #42484dee;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s ease;
    animation-name: bookNavigation;
    animation-duration: 4s;
}


.bookControl:hover .bookNavigation {
    visibility: visible;
    transition: visibility 0s, opacity 0.5s ease;
    opacity: 1;
    animation-play-state: paused;
}

.bookNavigation:hover {
    visibility: visible;
    transition: visibility 0s, opacity 0.5s ease;
    opacity: 1;
    animation-play-state: paused;
}

@keyframes bookNavigation {
    from {
        visibility: visible;
        opacity: 1;
    }

    85% {
        visibility: visible;
        opacity: 1;
    }

    to {
        visibility: visible;
        opacity: 0;

    }
}